* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: sans-serif !important;
    background-color: black;
    max-width: 80%;
}

nav {
    display: flex !important;
}

nav .list ul {
    display: flex;
    flex-direction: row !important;
    align-items: right;
    /* margin: 20px 0 0 0; */
    padding: 30px;
    /* margin-right: 0; */
}

nav .list ul li {
    padding-left: 15px;
}

.logo .c {
    color: goldenrod !important;
    font-size: 20px;
}

.logo .yrus {
    color: #fff !important;
    font-size: 20px;
}


/* 
.intobtn {
    color: #fff;
    margin-right: 0;
} */

nav ul li a {
    color: #fff;
    text-decoration: none !important;
}

.list {
    /* display: flex;
    flex-direction: row; */
    margin-right: 0px;
    padding-right: 0;
}

.image img {
    width: 250px;
    height: 300px;
    /* border-radius: 50%;
    border-radius: 53% 47% 60% 40% / 61% 61% 39% 39%;
    border: 2px solid #fff;
    background-color: goldenrod; */
}

.image img svg {
    width: 250px;
    height: 300px;
}